@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Roboto+Slab:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}
